.contaimer-zoom {
  position: relative;
  cursor: none;
}

.lupa {
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  border: 5px;
  border-color: rgba(255, 255, 255, 0.356);
  border-style: solid;
  width: 200px;
  height: 200px;
  background-size: 400%;
  background-position: center;
  pointer-events: none;
  border-radius: 50%;
  filter: drop-shadow(0 0 3em #9f86fab9);
  transform: scale(0);
  animation: scaleUP 200ms ease-in forwards;
}

@keyframes scaleUP {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
